.settings-menu {
  width: 100px;
  position: relative;
}

.settings-menu .settings-btn,
.settings-menu .logout-btn {
  border: none;
  background: none;
  outline: none;
}

.settings-menu .settings-btn:hover,
.settings-menu .logout-btn:hover {
  cursor: pointer;
}

.settings-menu .settings-btn img,
.settings-menu .logout-btn img {
  width: 20px;
}

.settings-menu .settings-wrapper {
  position: absolute;
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.329);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 10px;
  width: 300px;
  padding-top: 10px;
  margin-top: 10px;
  z-index: 3;
  right: 10px;
}

.settings-menu .settings-wrapper .profile-btn,
.settings-menu .settings-wrapper .manage-users-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgrey;
  background-color: #fff;
  cursor: pointer;
}

.settings-menu .settings-wrapper .profile-btn:hover,
.settings-menu .settings-wrapper .manage-users-btn:hover {
  background-color: rgba(255, 99, 71, 0.6);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.settings-menu .settings-wrapper .profile-btn a,
.settings-menu .settings-wrapper .manage-users-btn a {
  text-decoration: none;
  color: #000;
}

.settings-menu .settings-wrapper .profile-btn a:hover,
.settings-menu .settings-wrapper .manage-users-btn a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.settings-menu .settings-wrapper .logout-btn {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid lightgrey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.settings-menu .settings-wrapper .logout-btn:hover {
  background-color: rgba(255, 99, 71, 0.6);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */