.settings-menu {
    width: 100px;
    position: relative;

    .settings-btn,
    .logout-btn {
        border: none;
        background: none;
        outline: none;
        &:hover {
            cursor: pointer;
        }
        img {
            width: 20px;
        }
    }
    .settings-wrapper {
        position: absolute;
        background-color: #fff;
        border: 1px solid rgba(128, 128, 128, 0.329);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-radius: 10px;
        width: 300px;
        padding-top: 10px;

        margin-top: 10px;
        z-index: 3;
        right: 10px;

        .profile-btn,
        .manage-users-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 30px;
            border: none;
            border-bottom: 1px solid lightgrey;
            background-color: #fff;
            cursor: pointer;
            &:hover {
                background-color: rgba(255, 99, 71, 0.6);
                transition: 0.3s;
                color: #fff;
            }
            a {
                text-decoration: none;
                color: #000;
                &:hover {
                    transition: 0.3s;
                    color: #fff;
                }
            }
        }

        .logout-btn {
            width: 100%;
            height: 30px;
            border-bottom: 1px solid lightgrey;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            &:hover {
                background-color: rgba(255, 99, 71, 0.6);
                transition: 0.3s;
                color: #fff;
            }
        }
    }
}
