.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #2EA78A;
    h2 {
        margin-left: 30px;
    }
    .header__user-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 50px;
        height: 30px;
        .horizontal-line {
            height: 100%;
            width: 2px;
            background-color: grey;
            margin-left: 10px;
            margin-right: 10px;
        }
        span {
            height: 100%;
            line-height: 25px;
            font-weight: bold;
        }
        
        .sync-btn {
            border: none;
            background: none;
            outline: none;
            &:hover {
                cursor: pointer;
            }
            img {
                width: 20px;
            }
        }
    }
}
