.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #2EA78A;
}

.header-container h2 {
  margin-left: 30px;
}

.header-container .header__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  height: 30px;
}

.header-container .header__user-info .horizontal-line {
  height: 100%;
  width: 2px;
  background-color: grey;
  margin-left: 10px;
  margin-right: 10px;
}

.header-container .header__user-info span {
  height: 100%;
  line-height: 25px;
  font-weight: bold;
}

.header-container .header__user-info .sync-btn {
  border: none;
  background: none;
  outline: none;
}

.header-container .header__user-info .sync-btn:hover {
  cursor: pointer;
}

.header-container .header__user-info .sync-btn img {
  width: 20px;
}
/*# sourceMappingURL=main.css.map */