.navbar-container {
    height: 100%;
    width: 250px;
    background-color: #fff;
    border-right: 2px solid #2EA78A;
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        img {
            height: 80%;
        }
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px 0px 10px;
        margin-top: 30px;
        color: black;
        font-weight: bold;
        font-size: 14px;

        h2 {
            margin-left: 20px;
            margin-right: auto;
        }

        img {
            width: 14px;
        }

        button {
            border: none;
            background: none;
            color: #fff;
            font-size: 20px;
            outline: none;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .add-project__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 95%;

        .add-project__input {
            width: 0%;
            height: 25px;
            border-radius: 5px;
            border: 1px;
            padding: 0;
            margin-left: 30px;
            transition: 0.3s;
            &:focus {
                outline: none;
                border: 1px solid orange;
                box-shadow: 0 0 5px rgba(255, 166, 0, 0.1);
            }
        }

        .add-project__input--active {
            width: 80%;
            transition: 0.3s;
            padding-left: 10px;
        }

        .add-project__error {
            color: red;
            font-size: 14px;
            margin-top: 5px;
        }
    }

    .navbar {
        width: 100%;
        margin-top: 20px;

        .nav-item-wrapper {
            list-style-type: none;
            margin: 0;
            padding: 0;

            .nav-item {
                display: flex;
                justify-content: left;
                align-items: center;
                width: 100%;
                height: 40px;
                color: black;
                font-weight: bold;
                font-size: 18px;
                transition: 0.3s;

                a {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: #000;
                    span {
                        margin-left: 20px;
                    }
                }
                &:hover {
                    background-color: rgba(255, 166, 0, 0.4);
                    transition: 0.3s;
                    cursor: pointer;
                }
                .nav__indicator {
                    height: 100%;
                    width: 5px;
                    transition: 0.3s;
                    background-color: transparent;
                }
                .nav__indicator--active {
                    background-color: green;
                    transition: 0.3s;
                }
            }
            .nav-bug-item {
                span {
                    font-size: 16px;
                    margin-left: 40px;
                }
            }
            .nav-item--active {
                background-color: rgba(255, 166, 0, 0.4);
                transition: 0.3s;
            }
        }
    }
}
