.navbar-container {
  height: 100%;
  width: 250px;
  background-color: #fff;
  border-right: 2px solid #2EA78A;
}

.navbar-container .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.navbar-container .header-container img {
  height: 80%;
}

.navbar-container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px 0px 10px;
  margin-top: 30px;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.navbar-container .btn-container h2 {
  margin-left: 20px;
  margin-right: auto;
}

.navbar-container .btn-container img {
  width: 14px;
}

.navbar-container .btn-container button {
  border: none;
  background: none;
  color: #fff;
  font-size: 20px;
  outline: none;
}

.navbar-container .btn-container button:hover {
  cursor: pointer;
}

.navbar-container .add-project__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
}

.navbar-container .add-project__form .add-project__input {
  width: 0%;
  height: 25px;
  border-radius: 5px;
  border: 1px;
  padding: 0;
  margin-left: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-container .add-project__form .add-project__input:focus {
  outline: none;
  border: 1px solid orange;
  -webkit-box-shadow: 0 0 5px rgba(255, 166, 0, 0.1);
          box-shadow: 0 0 5px rgba(255, 166, 0, 0.1);
}

.navbar-container .add-project__form .add-project__input--active {
  width: 80%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 10px;
}

.navbar-container .add-project__form .add-project__error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.navbar-container .navbar {
  width: 100%;
  margin-top: 20px;
}

.navbar-container .navbar .nav-item-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-container .navbar .nav-item-wrapper .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-container .navbar .nav-item-wrapper .nav-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
}

.navbar-container .navbar .nav-item-wrapper .nav-item a span {
  margin-left: 20px;
}

.navbar-container .navbar .nav-item-wrapper .nav-item:hover {
  background-color: rgba(255, 166, 0, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.navbar-container .navbar .nav-item-wrapper .nav-item .nav__indicator {
  height: 100%;
  width: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: transparent;
}

.navbar-container .navbar .nav-item-wrapper .nav-item .nav__indicator--active {
  background-color: green;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-container .navbar .nav-item-wrapper .nav-bug-item span {
  font-size: 16px;
  margin-left: 40px;
}

.navbar-container .navbar .nav-item-wrapper .nav-item--active {
  background-color: rgba(255, 166, 0, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=main.css.map */