.free-sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 18px;
  width: 550px;
  border: 1px solid orange;
  border-radius: 15px;
  padding: 10px 30px 40px 30px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(255, 166, 0, 0.15);
          box-shadow: 0px 0px 8px 2px rgba(255, 166, 0, 0.15);
}

.free-sub-container p {
  text-align: left;
}

.free-sub-container .free-sub-timeleft {
  font-weight: bold;
}

.free-sub-container .free-sub-btns {
  margin-top: 30px;
}

.free-sub-container .free-sub-btns button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 0.7;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.free-sub-container .free-sub-btns button:hover {
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.free-sub-container .free-sub-btns .free-sub-continue {
  background-color: orangered;
}

.free-sub-container .free-sub-btns .free-sub-subscribe {
  background-color: lightseagreen;
}
/*# sourceMappingURL=main.css.map */