.free-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: flex-start;
    font-size: 18px;
    width: 550px;
    border: 1px solid orange;
    border-radius: 15px;
    padding: 10px 30px 40px 30px;
    box-shadow: 0px 0px 8px 2px rgba(255, 166, 0, 0.15);
    p {
        text-align: left;
    }
    .free-sub-timeleft {
        font-weight: bold;
    }
    .free-sub-btns {
        margin-top: 30px;
        button {
            width: 150px;
            height: 40px;
            border-radius: 5px;
            border: none;
            margin-left: 20px;
            margin-right: 20px;
            cursor: pointer;
            transition: 300ms;
            opacity: 0.7;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            &:hover {
                opacity: 1;
                transition: 300ms;
            }
        }
        .free-sub-continue {
            background-color: orangered;
        }
        .free-sub-subscribe {
            background-color: lightseagreen;
        }
    }
}