.plan-progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.plan-progress-bar .item-name__wrapper {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}

.plan-progress-bar .item-progress__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  margin-right: 40px;
  font-weight: bold;
}

.plan-progress-bar .item-progress__wrapper .item-progress-naming {
  width: 30%;
  margin-right: 50px;
}

.plan-progress-bar .item-progress__wrapper .item-progress-bar {
  width: 70%;
}

.plan-progress-bar .item-progress__wrapper .item-naming__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
}

.plan-progress-bar .item-progress__wrapper .cases-item__indicator--green,
.plan-progress-bar .item-progress__wrapper .cases-item__indicator--red,
.plan-progress-bar .item-progress__wrapper .cases-item__indicator--black,
.plan-progress-bar .item-progress__wrapper .cases-item__indicator--purple {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.plan-progress-bar .item-progress__wrapper .cases-item__indicator--green {
  background-color: green;
}

.plan-progress-bar .item-progress__wrapper .cases-item__indicator--red {
  background-color: red;
}

.plan-progress-bar .item-progress__wrapper .cases-item__indicator--black {
  background-color: black;
}

.plan-progress-bar .item-progress__wrapper .cases-item__indicator--purple {
  background-color: purple;
}

.plan-report-page {
  width: 100%;
  margin-bottom: 30px;
}

.plan-report-page .plans-page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
}

.plan-report-page .plans-page__header span {
  font-weight: bold;
  font-size: 22px;
}

.plan-report-page .plans-page__body {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.plan-report-page .plans-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin-top: 50px;
}

.plan-report-page .plans-page__body .plan-report-case-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-radius: 10px;
  padding: 20px 10px 10px 10px;
  background-color: #ffefd1;
  margin-bottom: 30px;
}

.plan-report-page .plans-page__body .plan-report-case-item .plan-report-case__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 30px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan-report-page .plans-page__body .plan-report-case-item .plan-report-case-runs {
  width: 95%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.plan-report-page .plans-page__body .plan-report-case-item .plan-report-case-runs .item-progress__wrapper {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  background-color: #fff2db;
  border: 1px solid orange;
  border-radius: 8px;
}

.plan-report-page .plans-page__body .plan-report-case-item .plan-report-case-runs .item-progress__wrapper .item-progress-naming-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.plan-content .plan-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plan-content .plan-item__wrapper .plan-item-cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 95%;
}

.submit__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 400px;
  left: calc(50% - 200px);
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 10px 20px 10px;
}

.submit__form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  width: 80%;
}

.submit__form .form-group input {
  height: 30px;
  width: calc(100% - 10px);
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 2px 0px 2px 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.submit__form .form-group input:focus {
  outline: none;
  border: 1px solid green;
  -webkit-box-shadow: 0 0 10px rgba(0, 128, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 128, 0, 0.1);
}

.submit__form .form-group label {
  font-size: 13px;
  color: grey;
}

.submit__form .submit__form-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-top: 10px;
}

.submit__form .submit__form-btns .form-cancel__btn,
.submit__form .submit__form-btns .form-submit__btn {
  height: 40px;
  width: 130px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
  font-size: 14px;
}

.submit__form .submit__form-btns .form-cancel__btn:hover,
.submit__form .submit__form-btns .form-submit__btn:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.submit__form .submit__form-btns .form-cancel__btn {
  background-color: rgba(0, 0, 255, 0.4);
  color: #fff;
}

.submit__form .submit__form-btns .form-cancel__btn:hover {
  background-color: rgba(0, 0, 255, 0.6);
}

.submit__form .submit__form-btns .form-submit__btn {
  background-color: rgba(0, 128, 0, 0.6);
  color: #fff;
}

.submit__form .submit__form-btns .form-submit__btn:hover {
  background-color: green;
}
/*# sourceMappingURL=main.css.map */