.plan-progress-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;

    .item-name__wrapper {
        margin-left: 30px;
        font-size: 20px;
        font-weight: bold;
    }

    .item-progress__wrapper {
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-right: 40px;
        font-weight: bold;

        .item-progress-naming {
            width: 30%;
            margin-right: 50px;
        }
        .item-progress-bar {
            width: 70%;
        }
        .item-naming__wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 50px;
        }
        .cases-item__indicator--green,
        .cases-item__indicator--red,
        .cases-item__indicator--black,
        .cases-item__indicator--purple {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .cases-item__indicator--green {
            background-color: green;
        }
        .cases-item__indicator--red {
            background-color: red;
        }
        .cases-item__indicator--black {
            background-color: black;
        }
        .cases-item__indicator--purple {
            background-color: purple;
        }
    }
}

.plan-report-page {
    width: 100%;
    margin-bottom: 30px;
    .plans-page__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        margin-top: 30px;
        span {
            font-weight: bold;
            font-size: 22px;
        }
    }

    .plans-page__body {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .plans-page__body {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-top: 50px;
        .plan-report-case-item {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-radius: 10px;
            padding: 20px 10px 10px 10px;
            background-color: rgb(255, 239, 209);
            margin-bottom: 30px;

            .plan-report-case__header {
                display: flex;
                flex-direction: row;
                padding-left: 30px;
                margin-bottom: 20px;
                justify-content: space-between;
            }
            .plan-report-case-runs {
                width: 95%;
                align-self: flex-end;

                .item-progress__wrapper {
                    width: 70%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: 10px 20px 10px 20px;
                    background-color: rgb(255, 242, 219);
                    border: 1px solid orange;
                    border-radius: 8px;
                    .item-progress-naming-right {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}
.plan-content {
    .plan-item__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin-top: 20px;
        flex-direction: column;
        .plan-item-cases {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 95%;
        }
    }
}
.submit__form {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    left: calc(50% - 200px);
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 10px 20px 10px;
    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width: 80%;
        input {
            height: 30px;
            width: calc(100% - 10px);
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 2px 0px 2px 10px;
            border-radius: 5px;
            border: 1px solid lightgrey;
            &:focus {
                outline: none;
                border: 1px solid green;
                box-shadow: 0 0 10px rgba(0, 128, 0, 0.1);
            }
        }
        label {
            font-size: 13px;
            color: grey;
        }
    }

    .submit__form-btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin-top: 10px;

        .form-cancel__btn,
        .form-submit__btn {
            height: 40px;
            width: 130px;
            border-radius: 5px;
            border: none;
            transition: 0.3s;
            font-weight: bold;
            font-size: 14px;
            &:hover {
                cursor: pointer;
                transition: 0.3s;
            }
        }

        .form-cancel__btn {
            background-color: rgba(0, 0, 255, 0.4);
            color: #fff;
            &:hover {
                background-color: rgba(0, 0, 255, 0.6);
            }
        }
        .form-submit__btn {
            background-color: rgba(0, 128, 0, 0.6);
            color: #fff;
            &:hover {
                background-color: rgba(0, 128, 0, 1);
            }
        }
    }
}
