.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 80%;
    input {
        height: 30px;
        width: calc(100% - 10px);
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 2px 0px 2px 10px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        &:focus {
            outline: none;
            border: 1px solid green;
            box-shadow: 0 0 10px rgba(0, 128, 0, 0.1);
        }
    }
    label {
        font-size: 13px;
        color: grey;
    }
}