.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  width: 80%;
}

.form-group input {
  height: 30px;
  width: calc(100% - 10px);
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 2px 0px 2px 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.form-group input:focus {
  outline: none;
  border: 1px solid green;
  -webkit-box-shadow: 0 0 10px rgba(0, 128, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 128, 0, 0.1);
}

.form-group label {
  font-size: 13px;
  color: grey;
}
/*# sourceMappingURL=main.css.map */