.project-table__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    width: 95%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 166, 0, 1);
    transition: 0.3s;
    &:hover {
        background-color: rgba(255, 166, 0, 1);
        transition: 0.3s;
        border-radius: 10px;
        color: #fff;
    }
    .item-name__wrapper {
        margin-left: 20px;
        font-weight: bold;
        &:hover {
            cursor: pointer;
        }
    }
}
.link-disabled {
    pointer-events: none;
}