.project-table__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: black;
  width: 95%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffa600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-table__item:hover {
  background-color: #ffa600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
  color: #fff;
}

.project-table__item .item-name__wrapper {
  margin-left: 20px;
  font-weight: bold;
}

.project-table__item .item-name__wrapper:hover {
  cursor: pointer;
}

.link-disabled {
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */