.content-container {
  width: calc(100% - 250px);
  height: calc(100% - 70px);
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.content-container .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.content-container .content-wrapper .content__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 70px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #ffa600;
}

.content-container .content-wrapper .drop__btn {
  width: 140px;
  height: 40px;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px 10px 15px;
  margin: 0 30px 0 30px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-container .content-wrapper .drop__btn img {
  width: 14px;
  margin-left: 5px;
}

.content-container .content-wrapper .drop__btn--inactive {
  background-color: #9ad49c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-container .content-wrapper .new-case__dropdown,
.content-container .content-wrapper .new-plan__dropdown {
  position: relative;
  display: inline-block;
}

.content-container .content-wrapper .dropdown-content {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  padding: 10px 0 0px 0;
  background-color: #f9f9f9;
  min-width: 160px;
  top: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 30px;
}

.content-container .content-wrapper .dropdown-content button {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(165, 165, 165, 0.5);
  padding-top: 5px;
  padding: 5px 15px 5px 0px;
  padding-bottom: 5px;
  outline: none;
  text-align: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-container .content-wrapper .dropdown-content button:hover {
  cursor: pointer;
  background-color: rgba(201, 201, 201, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-container .content-wrapper .dropdown-content--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-container .content-wrapper .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.content-container .content-wrapper .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.content-container .content-wrapper .dropdown:hover .dropdown-content {
  display: block;
}

.content-container .content-wrapper .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.content-container .content-wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(95% - 20px);
  min-height: 500px;
  padding: 20px 10px 20px 10px;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #ffa600;
  background-color: #fff;
}

.content-container .content-wrapper .content .content-divider-plans,
.content-container .content-wrapper .content .content-divider-cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.content-container .content-wrapper .content .submit__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 400px;
  left: calc(50% - 200px);
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 10px 20px 10px;
}

.content-container .content-wrapper .content .submit__form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  width: 80%;
}

.content-container .content-wrapper .content .submit__form .form-group input {
  height: 30px;
  width: calc(100% - 10px);
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 2px 0px 2px 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.content-container .content-wrapper .content .submit__form .form-group input:focus {
  outline: none;
  border: 1px solid green;
  -webkit-box-shadow: 0 0 10px rgba(0, 128, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 128, 0, 0.1);
}

.content-container .content-wrapper .content .submit__form .form-group label {
  font-size: 13px;
  color: grey;
}

.content-container .content-wrapper .content .submit__form .submit__form-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-top: 10px;
}

.content-container .content-wrapper .content .submit__form .submit__form-btns .form-cancel__btn,
.content-container .content-wrapper .content .submit__form .submit__form-btns .form-submit__btn {
  height: 40px;
  width: 130px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
  font-size: 14px;
}

.content-container .content-wrapper .content .submit__form .submit__form-btns .form-cancel__btn:hover,
.content-container .content-wrapper .content .submit__form .submit__form-btns .form-submit__btn:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-container .content-wrapper .content .submit__form .submit__form-btns .form-cancel__btn {
  background-color: rgba(0, 0, 255, 0.4);
  color: #fff;
}

.content-container .content-wrapper .content .submit__form .submit__form-btns .form-cancel__btn:hover {
  background-color: rgba(0, 0, 255, 0.6);
}

.content-container .content-wrapper .content .submit__form .submit__form-btns .form-submit__btn {
  background-color: rgba(0, 128, 0, 0.6);
  color: #fff;
}

.content-container .content-wrapper .content .submit__form .submit__form-btns .form-submit__btn:hover {
  background-color: green;
}

.btn--grey {
  background-color: grey !important;
}
/*# sourceMappingURL=contentPage.css.map */