.content-container {
    width: calc(100% - 250px);
    height: calc(100% - 70px);
    align-self: flex-start;

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        .content__buttons-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 95%;
            height: 70px;
            margin-top: 20px;
            background-color: #fff;
            border-radius: 10px;
            border: 2px solid rgba(255, 166, 0, 1);
        }
        .drop__btn {
            width: 140px;
            height: 40px;
            background-color: #4caf50;
            color: white;
            padding: 10px 15px 10px 15px;
            margin: 0 30px 0 30px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.3s;
            img {
                width: 14px;
                margin-left: 5px;
            }
        }

        .drop__btn--inactive {
            background-color: #9ad49c;
            transition: 0.3s;
        }

        .new-case__dropdown,
        .new-plan__dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            position: absolute;
            display: none;
            flex-direction: column;
            width: 200px;
            padding: 10px 0 0px 0;
            background-color: #f9f9f9;
            min-width: 160px;
            top: 50px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            right: 30px;
            button {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid rgba(165, 165, 165, 0.5);
                padding-top: 5px;
                padding: 5px 15px 5px 0px;
                padding-bottom: 5px;
                outline: none;
                text-align: right;
                transition: 0.3s;
                &:hover {
                    cursor: pointer;
                    background-color: rgba(201, 201, 201, 0.5);
                    transition: 0.3s;
                }
            }
        }
        .dropdown-content--active {
            display: flex;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(95% - 20px);
            min-height: 500px;
            padding: 20px 10px 20px 10px;
            height: auto;
            margin-top: 20px;
            border-radius: 10px;
            border: 2px solid rgba(255, 166, 0, 1);
            background-color: #fff;
            .content-divider-plans,
            .content-divider-cases {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
            

            .submit__form {
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items: center;
                position: absolute;
                width: 400px;
                left: calc(50% - 200px);
                background-color: #fff;
                border: 1px solid lightgrey;
                border-radius: 10px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                padding: 20px 10px 20px 10px;
                .form-group {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: left;
                    width: 80%;
                    input {
                        height: 30px;
                        width: calc(100% - 10px);
                        margin-top: 10px;
                        margin-bottom: 20px;
                        padding: 2px 0px 2px 10px;
                        border-radius: 5px;
                        border: 1px solid lightgrey;
                        &:focus {
                            outline: none;
                            border: 1px solid green;
                            box-shadow: 0 0 10px rgba(0, 128, 0, 0.1);
                        }
                    }
                    label {
                        font-size: 13px;
                        color: grey;
                    }
                }

                .submit__form-btns {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 80%;
                    margin-top: 10px;

                    .form-cancel__btn,
                    .form-submit__btn {
                        height: 40px;
                        width: 130px;
                        border-radius: 5px;
                        border: none;
                        transition: 0.3s;
                        font-weight: bold;
                        font-size: 14px;
                        &:hover {
                            cursor: pointer;
                            transition: 0.3s;
                        }
                    }

                    .form-cancel__btn {
                        background-color: rgba(0, 0, 255, 0.4);
                        color: #fff;
                        &:hover {
                            background-color: rgba(0, 0, 255, 0.6);
                        }
                    }
                    .form-submit__btn {
                        background-color: rgba(0, 128, 0, 0.6);
                        color: #fff;
                        &:hover {
                            background-color: rgba(0, 128, 0, 1);
                        }
                    }
                }
            }
        }
    }
}

.btn--grey {
    background-color: grey !important;
}