.item-progress__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    // margin-right: 20px;

    .item-progress-naming {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
        margin-bottom: 5px;

        .item-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 35%;
        }

        .item-progress-naming-right {
            display: flex;
            flex-direction: row;
            width: 45%;
        }
    }

    .item-progress-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 3px;
        border-radius: 50px;
        border: 1px solid lightgrey;
        background-color: #fff;

        .item-progress-bar--done {
            background-color: green;
            z-index: 1;
            height: 3px;
            border-radius: 50px 0px 0px 50px;
        }
        .item-progress-bar--fail {
            background-color: red;
            z-index: 2;
            height: 3px;
            border-radius: none;
        }
        .item-progress-bar--block {
            background-color: black;
            height: 3px;
            z-index: 3;
        }
        .item-progress-bar--query {
            height: 3px;
            background-color: purple;
            z-index: 4;
            border-radius: 0px 50px 50px 0px;
        }
    }
    .item-naming__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50px;
    }

    .cases-item__indicator--green,
    .cases-item__indicator--red,
    .cases-item__indicator--black,
    .cases-item__indicator--purple {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
    }
    .cases-item__indicator--green {
        background-color: green;
    }
    .cases-item__indicator--red {
        background-color: red;
    }
    .cases-item__indicator--black {
        background-color: black;
    }
    .cases-item__indicator--purple {
        background-color: purple;
    }
    .item-progress-comment {
        font-size: 12px;
        width: 100%;
        text-align: left;
        margin-top: 5px;
    }
    .grey-dot {
        width: 5px;
        height: 5px;
        margin: 0 5px 0 5px;
        border-radius: 50%;
        background-color: grey;
    }
}
