.item-progress__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 30px;
}

.item-progress__wrapper .item-progress-naming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 14px;
  margin-bottom: 5px;
}

.item-progress__wrapper .item-progress-naming .item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35%;
}

.item-progress__wrapper .item-progress-naming .item-progress-naming-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 45%;
}

.item-progress__wrapper .item-progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  border: 1px solid lightgrey;
  background-color: #fff;
}

.item-progress__wrapper .item-progress-bar .item-progress-bar--done {
  background-color: green;
  z-index: 1;
  height: 3px;
  border-radius: 50px 0px 0px 50px;
}

.item-progress__wrapper .item-progress-bar .item-progress-bar--fail {
  background-color: red;
  z-index: 2;
  height: 3px;
  border-radius: none;
}

.item-progress__wrapper .item-progress-bar .item-progress-bar--block {
  background-color: black;
  height: 3px;
  z-index: 3;
}

.item-progress__wrapper .item-progress-bar .item-progress-bar--query {
  height: 3px;
  background-color: purple;
  z-index: 4;
  border-radius: 0px 50px 50px 0px;
}

.item-progress__wrapper .item-naming__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
}

.item-progress__wrapper .cases-item__indicator--green,
.item-progress__wrapper .cases-item__indicator--red,
.item-progress__wrapper .cases-item__indicator--black,
.item-progress__wrapper .cases-item__indicator--purple {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.item-progress__wrapper .cases-item__indicator--green {
  background-color: green;
}

.item-progress__wrapper .cases-item__indicator--red {
  background-color: red;
}

.item-progress__wrapper .cases-item__indicator--black {
  background-color: black;
}

.item-progress__wrapper .cases-item__indicator--purple {
  background-color: purple;
}

.item-progress__wrapper .item-progress-comment {
  font-size: 12px;
  width: 100%;
  text-align: left;
  margin-top: 5px;
}

.item-progress__wrapper .grey-dot {
  width: 5px;
  height: 5px;
  margin: 0 5px 0 5px;
  border-radius: 50%;
  background-color: grey;
}
/*# sourceMappingURL=main.css.map */