.item-progress__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 30px;
}

.item-progress__wrapper .item-progress-naming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 14px;
  margin-bottom: 5px;
}

.item-progress__wrapper .item-progress-bar {
  width: 100%;
  height: 3px;
  border-radius: 50px;
  border: 1px solid grey;
  background-color: #fff;
}

.item-progress__wrapper .item-progress-bar .item-progress-bar--done {
  width: 50%;
  height: 3px;
  border-radius: 50px;
  background-color: green;
}

.item-progress__wrapper .item-naming__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
}

.item-progress__wrapper .cases-item__indicator--green,
.item-progress__wrapper .cases-item__indicator--red,
.item-progress__wrapper .cases-item__indicator--black,
.item-progress__wrapper .cases-item__indicator--purple {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.item-progress__wrapper .cases-item__indicator--green {
  background-color: green;
}

.item-progress__wrapper .cases-item__indicator--red {
  background-color: red;
}

.item-progress__wrapper .cases-item__indicator--black {
  background-color: black;
}

.item-progress__wrapper .cases-item__indicator--purple {
  background-color: purple;
}
/*# sourceMappingURL=main.css.map */