
.item-progress__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30px;
    // margin-right: 20px;

    .item-progress-naming {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .item-progress-bar {
        width: 100%;
        height: 3px;
        border-radius: 50px;
        border: 1px solid grey;
        background-color: #fff;

        .item-progress-bar--done {
            width: 50%;
            height: 3px;
            border-radius: 50px;
            // border: 1px solid green;
            background-color: green;
        }
    }
    .item-naming__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50px;
    }
    
    .cases-item__indicator--green,
        .cases-item__indicator--red,
        .cases-item__indicator--black,
        .cases-item__indicator--purple {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .cases-item__indicator--green {
            background-color: green;
        }
        .cases-item__indicator--red {
            background-color: red;
        }
        .cases-item__indicator--black {
            background-color: black;
        }
        .cases-item__indicator--purple {
            background-color: purple;
        }
}