.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.form__container h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start !important;
  font-size: 24px;
  color: #30b0db;
  font-weight: bold;
}

.form__container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__container form button {
  width: 350px;
  height: 40px;
  border: 1px solid lightseagreen;
  background-color: lightseagreen;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.form__container form button:hover {
  cursor: pointer;
  background-color: #0c918a;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.form__container a {
  text-decoration: none;
  color: cornflowerblue;
  margin-top: 5px;
  font-weight: bold;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.form__container a:hover {
  color: #195cda;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.form__container .submit__status {
  height: 30px;
  color: #09817b;
  font-weight: bolder;
}

.status-confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 150px;
  border: 2px solid lightseagreen;
  padding: 15px 30px 15px 30px;
  color: lightseagreen;
  background-color: #fff;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 25px;
  z-index: 3;
}

.status-confirmation .status-confirm-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  border: 1px solid lightseagreen;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 8px;
}

.status-confirmation .status-confirm-login:hover {
  background-color: lightseagreen;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.status-confirmation .status-confirm-login-link {
  color: #0d857f;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  line-height: 35px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.status-confirmation .status-confirm-login-link:hover {
  color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 350px;
  margin: 10px 0px 10px 0px;
}

.form-group label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.form-group .form-control {
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 15px;
}

.form-group .error-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  color: #ec4d4d;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.register-success {
  width: 90%;
  margin: 0 auto;
}

.register-success h3 {
  font-size: 24px;
  color: #30b0db;
  font-weight: bold;
}

.register-success h4 {
  font-size: 18px;
  color: #30b0db;
  font-weight: bold;
}

.register-success a {
  text-decoration: none;
  color: cornflowerblue;
  margin-top: 5px;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.register-success a:hover {
  color: #195cda;
  -webkit-transition: 300ms;
  transition: 300ms;
}
/*# sourceMappingURL=registerForm.css.map */