@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    margin: 0 auto;
    // padding: 20px 30px 20px 30px;
    background-color: #fff;
    h3 {
        align-self: flex-start;
        justify-self: flex-start !important;
        // text-decoration: lightseagreen underline;
        font-size: 24px;
        color: #30b0db;
        font-weight: bold;
    }

    form {
        @include flexCenter();
        // .form-group {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: left;
        //     width: 350px;
        //     margin: 10px 0px 10px 0px;

        //     label {
        //         width: fit-content;
        //         font-weight: bold;
        //         color: rgba(0, 0, 0, 0.5);
        //     }

        //     .form-control {
        //         height: 30px;
        //         border-radius: 5px;
        //         border: 1px solid black;
        //         padding-left: 15px;
        //     }

        //     .error-alert {
        //         @include flexCenter();
        //         height: 30px;
        //         border-radius: 5px;
        //         background-color: rgb(236, 77, 77);
        //         color: #fff;
        //         font-size: 12px;
        //         font-weight: bold;
        //         text-align: left;
        //         padding: 10px 10px 10px 10px;
        //     }
        // }

        button {
            width: 350px;
            height: 40px;
            border: 1px solid lightseagreen;
            background-color: lightseagreen;
            font-weight: bold;
            color: #fff;
            font-size: 16px;
            border-radius: 5px;
            margin: 10px 0 10px 0;
            transition: 300ms;
            &:hover {
                cursor: pointer;
                background-color: rgb(12, 145, 138);
                transition: 300ms;
            }
        }
    }

    a {
        text-decoration: none;
        color: cornflowerblue;
        margin-top: 5px;
        font-weight: bold;
        transition: 300ms;
        &:hover {
            color: rgb(25, 92, 218);
            transition: 300ms;
        }
    }

    .submit__status {
        height: 30px;
        color: rgb(9, 129, 123);
        font-weight: bolder;
    }
}
.status-confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 150px;
    border: 2px solid lightseagreen;
    padding: 15px 30px 15px 30px;
    color: lightseagreen;
    background-color: #fff;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 25px;
    z-index: 3;
    .status-confirm-login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 150px;
        height: 40px;
        border: 1px solid lightseagreen;
        transition: 300ms;
        border-radius: 8px;

        &:hover {
            background-color: lightseagreen;
            transition: 300ms;
        }
    }
    .status-confirm-login-link {
        color: rgb(13, 133, 127);
        text-decoration: none;
        transition: 300ms;
        line-height: 35px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &:hover {
            color: #fff;
            transition: 300ms;
        }
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 350px;
    margin: 10px 0px 10px 0px;

    label {
        width: fit-content;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5);
    }

    .form-control {
        height: 30px;
        border-radius: 5px;
        border: 1px solid black;
        padding-left: 15px;
    }

    .error-alert {
        @include flexCenter();
        height: 20px;
        // background-color: rgb(236, 77, 77);
        color: rgb(236, 77, 77);
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        align-items: flex-start;
        // padding: 10px 10px 10px 10px;
    }
}
.register-success {
    width: 90%;
    margin: 0 auto;

    h3 {
        font-size: 24px;
        color: #30b0db;
        font-weight: bold;
    }
    h4 {
        font-size: 18px;
        color: #30b0db;
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: cornflowerblue;
        margin-top: 5px;
        font-weight: bold;
        font-size: 18px;
        transition: 300ms;
        &:hover {
            color: rgb(25, 92, 218);
            transition: 300ms;
        }
    }
}
