.cases-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.cases-page__container .cases-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100% - 90px);
}

.cases-page__container .cases-page__body .cases-body__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cases-page__container .cases-page__body .cases-body__header .cases-body-header__name {
  font-weight: bold;
  font-size: 20px;
}

.cases-page__container .cases-page__body .cases-body__header .cases-body-header__name a {
  text-decoration: none;
}

.cases-page__container .cases-page__body .cases-body__header .item-progress__wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 35%;
}

.cases-page__container .cases-page__body .cases-body__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  border-radius: 15px;
  margin-top: 10px;
  border: 2px solid orange;
  height: 100%;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 60%;
  background-color: rgba(255, 252, 246, 0.3);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right: 1px solid #ffe3ae;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__left .case-table-left__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100%- 40px);
  height: 70px;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid orange;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__left .case-table-left__head button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  color: orange;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 5px 10px 5px 10px;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__left .case-table-left__head button:hover {
  cursor: pointer;
  background-color: rgba(255, 166, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__left .case-table-left__head button img {
  width: 14px;
  margin-right: 10px;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__left .test-case__wrapper {
  width: 100%;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__left .test-case__wrapper .test-case__input,
.cases-page__container .cases-page__body .cases-body__table .case-table__left .test-case__wrapper .test-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: calc(100% - 10px);
  border: 1px solid rgba(255, 166, 0, 0.3);
  border-radius: 5px;
  padding: 5px 0 5px 10px;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__left .test-case__wrapper .test-case__input:focus,
.cases-page__container .cases-page__body .cases-body__table .case-table__left .test-case__wrapper .test-case:focus {
  outline: none;
  border: 1px solid orange;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__left .test-case__wrapper .test-case__input .test-case__number,
.cases-page__container .cases-page__body .cases-body__table .case-table__left .test-case__wrapper .test-case .test-case__number {
  color: lightgrey;
  margin-left: 10px;
  margin-right: 30px;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__left .test-case__wrapper .test-case__input {
  padding-left: 60px;
  width: calc(100% - 61px);
}

.cases-page__container .cases-page__body .cases-body__table .case-table__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 40%;
  max-width: 729px;
  background-color: #fff9ec;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow-y: hidden;
  overflow-x: auto;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__right .case-run__column {
  width: 100px;
  min-width: 100px;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.2);
  border-right: 1px solid orange;
  border-left: 1px solid orange;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__right .case-run__column .run-column__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid rgba(255, 166, 0, 0.3);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__right .case-run__column .run-column__header:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.8);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__right .case-run__column .run-column__body {
  position: relative;
  width: 100%;
  height: calc(100% - 70px);
}

.cases-page__container .cases-page__body .cases-body__table .case-table__right .case-run__column .run-column__body .case-run__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 5px 0 5px 0;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__right .case-run__column .run-column__body .case-run__row:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.4);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__right .case-run__column .run-column__body .case-run__row img {
  width: 18px;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__right .case-run__column .run-column__body .case-run__row--active {
  background-color: orange;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__right .case-run__column .run-column__body .run-column__body--completed {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.7);
}

.cases-page__container .cases-page__body .cases-body__table .case-table__right .case-run__column .run-column__body .run-column__body--completed div {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
  color: darkgreen;
}

.cases-page__container .cases-page__body .cases-body__table .case-table__right .case-run__column .run-column__body .run-column__body--completed:hover {
  cursor: pointer;
}

.add-run__modal {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 300px);
  width: 800px;
}

.add-run__modal .add-run__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: orange;
  border: 1px solid orange;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.add-run__modal .add-run__header h3 {
  margin-left: 20px;
}

.add-run__modal .add-run__header .add-run__header-btns {
  margin-right: 10px;
}

.add-run__modal .add-run__header .add-run__header-btns button {
  background: none;
  margin-left: 10px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  width: 130px;
  height: 30px;
  -webkit-transition: 300ms;
  transition: 300ms;
  outline: none;
}

.add-run__modal .add-run__header .add-run__header-btns button:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.add-run__modal .add-run__header .add-run__header-btns .add-run__btns-save {
  background-color: green;
  color: #fff;
}

.add-run__modal .add-run__header .add-run__header-btns .add-run__btns-delete {
  background-color: #bb2424;
  color: #fff;
}

.add-run__modal .add-run__header .add-run__header-btns .add-run__btns-cancel {
  background-color: #fff;
}

.add-run__modal .add-run__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
  border: 1px solid orange;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.add-run__modal .add-run__body .add-run__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 166, 0, 0.3);
}

.add-run__modal .add-run__body .add-run__progress .run-progress__label {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 14px;
  color: grey;
}

.add-run__modal .add-run__body .add-run__progress .add-run__progress-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-run__modal .add-run__body .add-run__progress .add-run__progress-btns button {
  width: 110px;
  margin-left: 20px;
  height: 35px;
  background: none;
  border: none;
  border-radius: 5px;
}

.add-run__modal .add-run__body .add-run__progress .add-run__progress-btns button:hover {
  cursor: pointer;
}

.add-run__modal .add-run__body .add-run__progress .add-run__progress-btns .progress-btns__inprogress {
  border: 1px solid lightblue;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.add-run__modal .add-run__body .add-run__progress .add-run__progress-btns .progress-btns__inprogress:hover {
  background-color: #59c2e6;
  color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.add-run__modal .add-run__body .add-run__progress .add-run__progress-btns .progress-btns__completed {
  border: 1px solid lightgreen;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.add-run__modal .add-run__body .add-run__progress .add-run__progress-btns .progress-btns__completed:hover {
  background-color: #59c258;
  color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.add-run__modal .add-run__body .add-run__progress .add-run__progress-btns .inprogress-btn--active {
  background-color: #59c2e6;
  color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.add-run__modal .add-run__body .add-run__progress .add-run__progress-btns .completed-btn--active {
  background-color: #59c258;
  color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.add-run__modal--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.case-run-item__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  height: 550px;
  left: calc(50% - 250px);
  top: calc(50% - 300px);
  background-color: #fff;
  border: 1px solid orange;
  border-radius: 10px;
  position: absolute;
}

.case-run-item__modal button {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.case-run-item__modal .case-run-item-modal--completed {
  width: 100%;
}

.case-run-item__modal .case-run-item-modal--completed .case-run-item-modal--completed-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case-run-item__modal .case-run-item-modal--completed .case-run-item-modal--completed-btns button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
}

.case-run-item__modal .case-run-item-modal--completed .case-run-item-modal--completed-btns button:hover {
  background-color: orange;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.case-run-item__modal .case-run-item__modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: orange;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.case-run-item__modal .case-run-item__modal-header .case-run-item__modal-header-name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 10px;
  width: 100px;
  font-weight: bold;
  font-size: 18px;
}

.case-run-item__modal .case-run-item__modal-header .case-run-item__modal-header-btns {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.case-run-item__modal .case-run-item__modal-header .case-run-item__modal-header-btns .case-run-item__modal-header-esc-btn,
.case-run-item__modal .case-run-item__modal-header .case-run-item__modal-header-btns .case-run-item__modal-header-close-btn {
  height: 30px;
  background-color: #fff;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.case-run-item__modal .case-run-item__modal-progress {
  height: 70px;
  width: 100%;
}

.case-run-item__modal .case-run-item__modal-comment {
  width: 70%;
  height: 100px;
  margin-bottom: 20px;
  resize: none;
}

.case-run-item__modal .case-run-item__modal-link {
  width: 70%;
  height: 30px;
}

.case-run-item__modal .case-run-item__modal-btns {
  width: 70%;
  height: 200px;
  margin-top: 30px;
}

.case-run-item__modal .case-run-item__modal-btns .case-run-item__modal-main-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.case-run-item__modal .case-run-item__modal-btns .case-run-item__modal-main-btns .case-run-item__modal-pass-btn {
  background-color: green;
  color: #fff;
}

.case-run-item__modal .case-run-item__modal-btns .case-run-item__modal-main-btns .case-run-item__modal-pass-btn:hover {
  background-color: #29a329;
}

.case-run-item__modal .case-run-item__modal-btns .case-run-item__modal-main-btns .case-run-item__modal-fail-btn {
  background-color: #c81111;
  color: #fff;
}

.case-run-item__modal .case-run-item__modal-btns .case-run-item__modal-main-btns .case-run-item__modal-fail-btn:hover {
  background-color: #f13232;
}

.case-run-item__modal .case-run-item__modal-btns .case-run-item__modal-extra-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.case-run-item__modal .case-run-item__modal-btns .case-run-item__modal-extra-btns button {
  border: 1px solid orange;
  background-color: #fff;
}

.case-run-item__modal .case-run-item__modal-btns .case-run-item__modal-extra-btns button:hover {
  background-color: rgba(255, 166, 0, 0.1);
}

.case-run-item__modal .case-run-item__modal-btns .case-run-item__modal-auto-advance {
  margin-top: 30px;
  width: 100%;
}

.case-run-item__modal .case-run-item__modal-btns .case-run-item__modal-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.case-run-item__modal .case-run-item__modal-btns .case-run-item__modal-btns button {
  border: 1px solid orange;
  background-color: #fff;
}

.case-run-item__modal .case-run-item__modal-btns .case-run-item__modal-btns button:hover {
  background-color: rgba(255, 166, 0, 0.1);
}

.case-run-item__modal .item-progress__wrapper {
  width: 70%;
  margin: 20px 0 20px 0;
}

.case-run-item__modal .item-progress__wrapper .item-naming__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.case-run-item__modal .item-progress__wrapper .cases-item__indicator--green,
.case-run-item__modal .item-progress__wrapper .cases-item__indicator--red,
.case-run-item__modal .item-progress__wrapper .cases-item__indicator--black,
.case-run-item__modal .item-progress__wrapper .cases-item__indicator--purple {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.case-run-item__modal .item-progress__wrapper .cases-item__indicator--green {
  background-color: green;
}

.case-run-item__modal .item-progress__wrapper .cases-item__indicator--red {
  background-color: red;
}

.case-run-item__modal .item-progress__wrapper .cases-item__indicator--black {
  background-color: black;
}

.case-run-item__modal .item-progress__wrapper .cases-item__indicator--purple {
  background-color: purple;
}

.case-report-page .cases-body__table {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.cases-report-page__logs {
  margin-top: 30px;
  width: 95%;
  padding-bottom: 50px;
}

.cases-report-page__logs h2 {
  text-align: left;
}

.cases-report-page__logs .item-progress__wrapper {
  margin-top: 40px;
}

.cases__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid lightseagreen;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cases__header .cases__header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: bold;
  font-size: 18px;
}

.cases__header .cases__header-right .cases__btns button {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100px;
  height: 30px;
  margin: 0px 10px 0px 10px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.cases__header .cases__header-right .cases__btns button:hover {
  cursor: pointer;
  color: #fff;
  background-color: lightseagreen;
  border-radius: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.cases__header .cases__header-right .user-info {
  margin-left: 30px;
  color: #000;
}

.cases__header .cases__header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cases__header .cases__header-left .website-logo {
  text-align: left;
  color: #fff;
}

.cases__header .cases__header-left .website-logo img {
  margin-left: 20px;
  width: 200px;
}

.share-report-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 400px;
  left: calc(50% - 200px);
  top: calc(50% - 300px);
  border: 1px solid orange;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 30px;
}

.share-report-modal .share-report-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  background-color: orange;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}

.share-report-modal .share-report-header img {
  width: 24px;
  margin-right: 20px;
}

.share-report-modal .share-report-input {
  width: 90%;
  margin-top: 20px;
}

.share-report-modal .horizontal-line {
  width: 90%;
  height: 1px;
  background-color: lightgrey;
  opacity: 0.5;
}

.share-report-modal .share-report-chosen-label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-weight: bold;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 10px;
}

.share-report-modal .share-report-chosen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  min-height: 40px;
  width: 90%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.share-report-modal .share-report-chosen .share-report-chosen-first {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.share-report-modal .share-report-chosen .share-report-chosen-first img {
  margin-right: 20px;
  height: 10px;
}

.share-report-modal .share-report-chosen .share-report-chosen-first .chosen-person-first {
  margin-left: 20px;
  font-size: 15px;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.share-report-modal .share-report-chosen .share-report-chosen-first .chosen-list-toggle {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.share-report-modal .share-report-chosen .share-report-chosen-first .chosen-list-toggle--active {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.share-report-modal .share-report-chosen .share-report-chosen-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: calc(100% + 5px);
  background-color: #fff;
  width: 100%;
  z-index: 3;
}

.share-report-modal .share-report-chosen .share-report-chosen-list .chosen-person-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  padding: 5px 0 5px 0;
  border: 1px solid lightgrey;
  margin-top: 5px;
}

.share-report-modal .share-report-chosen .share-report-chosen-list .chosen-person-wrapper .chosen-person {
  margin-left: 20px;
  font-size: 15px;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.share-report-modal .share-report-chosen .share-report-chosen-list .chosen-person-wrapper .chosen-person-delete {
  border: none;
  margin-right: 15px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #ff6b6b;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

.share-report-modal .share-report-chosen .share-report-chosen-list .chosen-person-wrapper .chosen-person-delete:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: #aa0000;
}

.share-report-modal .share-report-chosen .share-report-chosen-list .chosen-person-wrapper .chosen-person-delete img {
  height: 18px;
}

.share-report-modal .share-report-buttons {
  margin-top: 30px;
  height: 30px;
  width: 100%;
}

.share-report-modal .share-report-buttons button {
  width: 120px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
  opacity: 0.7;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.share-report-modal .share-report-buttons button:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.share-report-modal .share-report-buttons .share-report-save {
  background-color: green;
}

.share-report-modal .share-report-buttons .share-report-cancel {
  background-color: goldenrod;
}

.landing-container {
  width: 100%;
  height: 100%;
  background-color: #95bbb9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.landing-container-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #6ec1bf;
  opacity: 0.3;
}

.landing-form-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  width: 70%;
  height: 700px;
  background-color: #fff;
  border-radius: 25px;
  z-index: 3;
}

.landing-form-wrapper .form__container .reg-page-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 0;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.landing-form-wrapper .form__container .reg-page-next span {
  font-size: 18px;
  color: lightseagreen;
  font-weight: bold;
  margin-right: 10px;
}

.landing-form-wrapper .form__container .reg-page-next img {
  width: 8px;
}

.landing-form-wrapper .form__container .reg-page-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.landing-form-wrapper .form__container .reg-page-prev span {
  font-size: 18px;
  color: lightseagreen;
  font-weight: bold;
  margin-left: 10px;
}

.landing-form-wrapper .form__container .reg-page-prev img {
  width: 8px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.landing-form-wrapper .landing-form-image-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #6ec1bf;
}

.landing-form-wrapper .landing-form-image-wrapper img {
  height: 600px;
  width: auto;
}
/*# sourceMappingURL=main.css.map */