.cases-page__container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;

    .cases-page__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: calc(100% - 90px);

        .cases-body__header {
            display: flex;
            flex-direction: row;
            width: 90%;
            margin-top: 20px;
            justify-content: space-between;

            .cases-body-header__name {
                font-weight: bold;
                font-size: 20px;
                a {
                    text-decoration: none;
                    &:hover {
                        
                    }
                }
            }

            .item-progress__wrapper {
                flex-direction: row;
                width: 35%;
                // .item-progress-naming {
                //     margin-right: 15px;
                //     .item-naming__wrapper {
                //         display: flex;
                //         flex-direction: row;
                //         align-items: center;
                //         width: 50px;
                //     }
                //     .cases-item__indicator--green,
                //     .cases-item__indicator--red,
                //     .cases-item__indicator--black,
                //     .cases-item__indicator--purple {
                //         width: 10px;
                //         height: 10px;
                //         border-radius: 50%;
                //         margin-right: 5px;
                //     }
                //     .cases-item__indicator--green {
                //         background-color: green;
                //     }
                //     .cases-item__indicator--red {
                //         background-color: red;
                //     }
                //     .cases-item__indicator--black {
                //         background-color: black;
                //     }
                //     .cases-item__indicator--purple {
                //         background-color: purple;
                //     }
                // }
            }
        }

        .cases-body__table {
            display: flex;
            flex-direction: row;
            width: 95%;
            border-radius: 15px;
            margin-top: 10px;
            border: 2px solid orange;
            height: 100%;

            .case-table__left {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 60%;
                background-color: rgba(255, 252, 246, 0.3);
                border-top-left-radius: 16px;
                border-bottom-left-radius: 16px;
                border-right: 1px solid rgb(255, 227, 174);

                .case-table-left__head {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: calc(100%- 40px);
                    height: 70px;
                    padding: 0 20px 0 20px;
                    border-bottom: 1px solid orange;
                    justify-content: space-between;

                    button {
                        display: flex;
                        align-items: center;
                        border: none;
                        background: none;
                        color: orange;
                        height: 40px;
                        font-size: 18px;
                        font-weight: bold;
                        outline: none;
                        border-radius: 10px;
                        transition: 0.3s;
                        padding: 5px 10px 5px 10px;
                        &:hover {
                            cursor: pointer;
                            background-color: rgba(255, 166, 0, 0.1);
                            transition: 0.3s;
                        }

                        img {
                            width: 14px;
                            margin-right: 10px;
                        }
                    }
                }
                .test-case__wrapper {
                    width: 100%;
                    .test-case__input,
                    .test-case {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        height: 30px;
                        width: calc(100% - 10px);
                        border: 1px solid rgba(255, 166, 0, 0.3);
                        border-radius: 5px;
                        padding: 5px 0 5px 10px;
                        &:focus {
                            outline: none;
                            border: 1px solid orange;
                        }

                        .test-case__number {
                            color: lightgrey;
                            margin-left: 10px;
                            margin-right: 30px;
                        }
                    }
                    .test-case__input {
                        padding-left: 60px;
                        width: calc(100% - 61px);
                    }
                }
            }
            .case-table__right {
                display: flex;
                flex-direction: row;
                height: 100%;
                width: 40%;
                max-width: 729px;
                background-color: rgb(255, 249, 236);
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
                overflow-y: hidden;
                overflow-x: auto;
                .case-run__column {
                    width: 100px;
                    min-width: 100px;
                    height: 100%;
                    background-color: rgba(211, 211, 211, 0.2);
                    border-right: 1px solid orange;
                    border-left: 1px solid orange;

                    .run-column__header {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 70px;
                        width: 100%;
                        font-size: 12px;
                        border-bottom: 1px solid rgba(255, 166, 0, 0.3);
                        transition: 300ms;
                        &:hover {
                            cursor: pointer;
                            background-color: rgba(211, 211, 211, 0.8);
                            transition: 300ms;
                        }
                    }

                    .run-column__body {
                        position: relative;
                        width: 100%;
                        height: calc(100% - 70px);
                        .case-run__row {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 30px;
                            padding: 5px 0 5px 0;
                            border-top: 1px solid orange;
                            border-bottom: 1px solid orange;
                            transition: 300ms;
                            &:hover {
                                cursor: pointer;
                                background-color: rgba(211, 211, 211, 0.4);
                                transition: 300ms;
                            }

                            img {
                                width: 18px;
                            }
                        }
                        .case-run__row--active {
                            background-color: orange;
                            transition: 300ms;
                        }

                        .run-column__body--completed {
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(211, 211, 211, 0.7);
                            div {
                                transform: rotate(-60deg);
                                margin-top: 50px;
                                font-size: 18px;
                                font-weight: bold;
                                color: darkgreen;
                            }
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}
.add-run__modal {
    display: none;
    flex-direction: column;
    position: absolute;
    left: calc(50% - 400px);
    top: calc(50% - 300px);
    width: 800px;
    .add-run__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: orange;
        border: 1px solid orange;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        h3 {
            margin-left: 20px;
        }
        .add-run__header-btns {
            margin-right: 10px;
            button {
                background: none;
                margin-left: 10px;
                border: none;
                font-weight: bold;
                border-radius: 5px;
                width: 130px;
                height: 30px;
                transition: 300ms;
                outline: none;
                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                    transition: 300ms;
                }
            }
            .add-run__btns-save {
                background-color: green;
                color: #fff;
            }
            .add-run__btns-delete {
                background-color: rgb(187, 36, 36);
                color: #fff;
            }
            .add-run__btns-cancel {
                background-color: #fff;
            }
        }
    }
    .add-run__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #fff;
        border: 1px solid orange;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-bottom: 20px;
        padding-top: 20px;
        .add-run__progress {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            height: 40px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(255, 166, 0, 0.3);
            .run-progress__label {
                height: fit-content;
                font-size: 14px;
                color: grey;
            }
            .add-run__progress-btns {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                button {
                    width: 110px;
                    margin-left: 20px;
                    height: 35px;
                    background: none;
                    border: none;
                    border-radius: 5px;

                    &:hover {
                        cursor: pointer;
                    }
                }
                .progress-btns__inprogress {
                    border: 1px solid lightblue;
                    transition: 300ms;
                    &:hover {
                        background-color: rgb(89, 194, 230);
                        color: #fff;
                        transition: 300ms;
                    }
                }
                .progress-btns__completed {
                    border: 1px solid lightgreen;
                    transition: 300ms;

                    &:hover {
                        background-color: rgb(89, 194, 88);
                        color: #fff;
                        transition: 300ms;
                    }
                }
                .inprogress-btn--active {
                    background-color: rgb(89, 194, 230);
                    color: #fff;
                    transition: 300ms;
                }
                .completed-btn--active {
                    background-color: rgb(89, 194, 88);
                    color: #fff;
                    transition: 300ms;
                }
            }
        }
    }
}
.add-run__modal--active {
    display: flex;
}

.case-run-item__modal {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 500px;
    height: 550px;
    left: calc(50% - 250px);
    top: calc(50% - 300px);
    background-color: #fff;
    border: 1px solid orange;
    border-radius: 10px;
    position: absolute;

    button {
        height: 30px;
        width: 100px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 300ms;
    }

    .case-run-item-modal--completed {
        width: 100%;
        .case-run-item-modal--completed-btns {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            button {
                margin-top: 30px;
                width: 200px;
                height: 50px;
                &:hover {
                    background-color: orange;
                    transition: 300ms;
                }
            }
        }
    }
    .case-run-item__modal-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        background-color: orange;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .case-run-item__modal-header-name {
            width: fit-content;
            margin-left: 10px;
            width: 100px;
            font-weight: bold;
            font-size: 18px;
        }
        .case-run-item__modal-header-btns {
            margin-right: 20px;
            display: flex;
            flex-direction: row;
            width: 150px;
            justify-content: space-between;
            .case-run-item__modal-header-esc-btn,
            .case-run-item__modal-header-close-btn {
                height: 30px;
                background-color: #fff;
                width: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    .case-run-item__modal-progress {
        height: 70px;
        width: 100%;
    }
    .case-run-item__modal-comment {
        width: 70%;
        height: 100px;
        margin-bottom: 20px;
        resize: none;
    }
    .case-run-item__modal-link {
        width: 70%;
        height: 30px;
    }
    .case-run-item__modal-btns {
        width: 70%;
        height: 200px;
        margin-top: 30px;
        .case-run-item__modal-main-btns {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .case-run-item__modal-pass-btn {
                background-color: green;
                color: #fff;
                &:hover {
                    background-color: rgb(41, 163, 41);
                }
            }
            .case-run-item__modal-fail-btn {
                background-color: rgb(200, 17, 17);
                color: #fff;
                &:hover {
                    background-color: rgb(241, 50, 50);
                }
            }
        }

        .case-run-item__modal-extra-btns {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            button {
                border: 1px solid orange;
                background-color: #fff;
                &:hover {
                    background-color: rgba(255, 166, 0, 0.1);
                }
            }
        }

        .case-run-item__modal-auto-advance {
            margin-top: 30px;
            width: 100%;
        }

        .case-run-item__modal-btns {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            button {
                border: 1px solid orange;
                background-color: #fff;
                &:hover {
                    background-color: rgba(255, 166, 0, 0.1);
                }
            }
        }
    }

    .item-progress__wrapper {
        width: 70%;
        margin: 20px 0 20px 0;
        .item-naming__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .cases-item__indicator--green,
        .cases-item__indicator--red,
        .cases-item__indicator--black,
        .cases-item__indicator--purple {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px;
        }
        .cases-item__indicator--green {
            background-color: green;
        }
        .cases-item__indicator--red {
            background-color: red;
        }
        .cases-item__indicator--black {
            background-color: black;
        }
        .cases-item__indicator--purple {
            background-color: purple;
        }
    }
}

.case-report-page .cases-body__table {
    height: fit-content !important;
}

.cases-report-page__logs {
    margin-top: 30px;
    width: 95%;
    padding-bottom: 50px;
    h2 {
        text-align: left;
    }

    .item-progress__wrapper {
        margin-top: 40px;
    }
}

.cases__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid lightseagreen;
    justify-content: space-between;
    .cases__header-right {
        display: flex;
        flex-direction: row;
        font-weight: bold;
        font-size: 18px;
        // justify-content: space-between;

        .cases__btns {
            button {
                background: none;
                outline: none;
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                width: 100px;
                height: 30px;
                margin: 0px 10px 0px 10px;
                color: #000;
                font-size: 16px;
                font-weight: bold;
                transition: 300ms;

                &:hover {
                    cursor: pointer;
                    color: #fff;
                    background-color: lightseagreen;
                    border-radius: 5px;
                    transition: 300ms;
                }
            }
        }

        .user-info {
            margin-left: 30px;
            color: #000;
        }
    }

    .cases__header-left {
        display: flex;
        flex-direction: row;
        .website-logo {
            text-align: left;
            color: #fff;
            img {
                margin-left: 20px;
                width: 200px;
            }
        }
    }
}

.share-report-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    left: calc(50% - 200px);
    top: calc(50% - 300px);
    border: 1px solid orange;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 30px;

    .share-report-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 0px 10px 0px;
        background-color: orange;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
        img {
            width: 24px;
            margin-right: 20px;
        }
    }
    .share-report-input {
        width: 90%;
        margin-top: 20px;
    }
    .horizontal-line {
        width: 90%;
        height: 1px;
        background-color: lightgrey;
        opacity: 0.5;
    }
    .share-report-chosen-label {
        color: rgba(0, 0, 0, 0.5);
        font-size: 13px;
        font-weight: bold;
        align-self: flex-start;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .share-report-chosen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        min-height: 40px;
        width: 90%;
        border: 1px solid lightgrey;
        border-radius: 5px;

        .share-report-chosen-first {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            img {
                margin-right: 20px;
                height: 10px;
            }
            .chosen-person-first {
                margin-left: 20px;
                font-size: 15px;
                max-width: 80%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .chosen-list-toggle {
                transition: 300ms;
                transform: rotate(90deg);
            }
            .chosen-list-toggle--active {
                transform: rotate(0deg);
                transition: 300ms;
            }
        }

        .share-report-chosen-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            top: calc(100% + 5px);
            background-color: #fff;
            width: 100%;
            z-index: 3;
            .chosen-person-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 30px;
                padding: 5px 0 5px 0;
                border: 1px solid lightgrey;
                margin-top: 5px;
                .chosen-person {
                    margin-left: 20px;
                    font-size: 15px;
                    max-width: 80%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .chosen-person-delete {
                    border: none;
                    margin-right: 15px;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    background-color: rgb(255, 107, 107);
                    transition: 300ms;
                    cursor: pointer;
                    &:hover {
                        transition: 300ms;
                        background-color: rgb(170, 0, 0);
                    }
                    img {
                        height: 18px;
                    }
                }
            }
        }
    }
    .share-report-buttons {
        margin-top: 30px;
        height: 30px;
        width: 100%;

        button {
            width: 120px;
            height: 35px;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 5px;
            transition: 300ms;
            opacity: 0.7;
            color: #fff;
            border: none;
            font-weight: bold;
            font-size: 16px;
            &:hover {
                opacity: 1;
                cursor: pointer;
                transition: 300ms;
            }
        }

        .share-report-save {
            background-color: green;
        }
        .share-report-cancel {
            background-color: goldenrod;
        }
    }
}
.landing-container {
    width: 100%;
    height: 100%;
    // background: url('../../../assets/img/landing-page-bg.png');
    background-color: rgb(149, 187, 185);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.landing-container-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #6ec1bf;
    opacity: 0.3;
}
.landing-form-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 40% 60%;
    width: 70%;
    height: 700px;
    background-color: #fff;
    border-radius: 25px;
    z-index: 3;
    .form__container {
        .reg-page-next {
            display: flex;
            height: 30px;
            width: fit-content;
            margin-right: 0;
            margin-left: auto;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            
            span {
                font-size: 18px;
                color: lightseagreen;
                font-weight: bold;
                margin-right: 10px;
            }
            img {
                width: 8px;
            }
        }
        .reg-page-prev {
            display: flex;
            height: 30px;
            width: fit-content;
            margin-left: 0;
            margin-right: auto;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            span {
                font-size: 18px;
                color: lightseagreen;
                font-weight: bold;
                margin-left: 10px;
            }

            img {
                width: 8px;
                transform: rotate(180deg);
            }
        }
    }
    .landing-form-image-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        // border-left: 1px solid #8dd0f0;
        background-color: #6ec1bf;
        img {
            height: 600px;
            width: auto;
        }

        
    }
}
