.user-settings-wrapper {
    width: 100%;

    .user-settings-form {
        width: 400px;
        border-radius: 10px;
        padding: 15px;
        // background-color: rgba(32, 178, 171, 0.281);
        margin: 0 auto;
        margin-top: 100px;
        position: relative;
        .form-group {
            width: 100%;
        }
        .user-settings-form-btns {
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-top: 30px;
            button {
                width: 150px;
                height: 40px;
                cursor: pointer;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                font-weight: bold;
                transition: 300ms;
                &:hover {
                    transition: 300ms;
                }
            }

            .save-changes {
                background-color: #2ea78a;
                color: #fff;
                &:hover {
                    background-color: #01614b;
                }
            }
            .cancel-changes {
                background-color: #fff;
                border: 1px solid #2ea78a;
                color: #2ea78a;
                &:hover {
                    background-color: #2ea78b1e;
                }
            }
        }
        .user-role-change-form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 30px;
            width: 1000px;
            right: calc(50% - 500px);
            background-color: #fff;
            border: 1px solid lightseagreen;
            border-radius: 10px;
            padding: 0px 0px 50px 0px;
            z-index: 4;

            .user-role-change-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                width: 100%;
                height: 70px;
                background-color: lightseagreen;
                .user-role-change-header-text {
                    color: #fff;
                    font-weight: bold;
                    margin-left: 30px;
                }
                button {
                    margin-right: 30px;
                    border-radius: 5px;
                    border: 1px solid #fff;
                    background-color: transparent;
                    color: #fff;
                    width: 100px;
                    height: 30px;
                    transition: 300ms;
                    font-weight: bold;
                    cursor: pointer;
                    &:hover {
                        background-color: #fff;
                        color: lightseagreen;
                        transition: 300ms;
                    }
                }
            }

            .user-role-type {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 30px;
                margin-bottom: 30px;
                button {
                    width: 150px;
                    height: 40px;
                    background-color: transparent;
                    margin-left: 30px;
                    border: none;
                    font-weight: bold;
                    font-size: 18px;
                    color: lightseagreen;
                    cursor: pointer;
                    transition: 300ms;
                    border-radius: 8px;
                    &:hover {
                        transition: 300ms;
                        color: #fff;
                        border: 1px solid lightseagreen;
                        background-color: lightseagreen;
                    }
                }
                .role-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    img {
                        width: 35px;
                    }
                    span {
                        color: lightseagreen;
                        font-size: 14px;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }
                .role-description {
                    width: 600px;
                    margin-right: 70px;
                }
            }
        }
    }
    .user-settings-role {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        label {
            margin-bottom: 10px;
        }
    }
    .user-role-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        img {
            width: 25px;
        }
        #user-role {
            font-style: italic;
            font-weight: bold;
            color: lightseagreen;
            margin-left: 25px;
        }
        .user-role-change {
            margin-right: 0;
            margin-left: auto;
            border: none;
            background-color: #6ec1bf;
            height: 30px;
            width: 120px;
            border-radius: 5px;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
            transition: 300ms;
            &:hover {
                background-color: #479796;
                transition: 300ms;
            }
        }
    }
    label {
        width: fit-content;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5);
        font-size: 13px;
    }
}
.grey-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: 3;
}

.manage-users-page {
    width: 100%;
    padding-top: 50px;
    .manage-users-main-btns {
        width: 80%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        button {
            height: 35px;
            width: 120px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: 300ms;
            &:hover {
                transition: 300ms;
            }
        }
        .manage-users-new {
            background-color: rgba(32, 178, 171, 0.8);
            color: #fff;
            font-weight: bold;
            transition: 300ms;
            &:hover {
                background-color: lightseagreen;
            }
        }
        .manage-users-sorting-btns {
            width: 40%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            span {
                color: lightseagreen;
                font-weight: bold;
                font-size: 18px;
            }

            button {
                border: 1px solid lightseagreen;
                background-color: #fff;
                color: lightseagreen;
                font-weight: bold;
                &:hover {
                    background-color: lightseagreen;
                    color: #fff;
                }
            }
            .manage-users-sorting--active {
                background-color: lightseagreen;
                color: #fff;
            }
        }
    }
    .manage-users-content {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-auto-rows: max-content;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 20px;
        .user-card-wrapper {
            border: 1px solid lightseagreen;
            border-radius: 10px;
            padding: 10px;
            height: fit-content;
            margin-bottom: 50px;
            .user-card-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 10px;
                border-bottom: 1px solid rgba(32, 178, 171, 0.2);
                .user-card-name {
                    color: rgb(2, 158, 132);
                    font-weight: bold;
                    font-size: 18px;
                }
                .user-card-settings {
                    width: 20px;
                    margin-right: 20px;
                    cursor: pointer;
                    position: relative;
                    img {
                        width: 100%;
                    }

                    .user-card-settings-drop {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 30px;
                        right: 0;
                        width: 200px;
                        background-color: #fff;
                        border: 1px solid #6ec1bf;
                        border-radius: 5px;
                        .user-settings-drop-item {
                            padding: 10px 0 10px 0;
                            font-size: 14px;
                            font-weight: bold;
                            transition: 300ms;
                            &:hover {
                                background-color: lightseagreen;
                                color: #fff;
                                transition: 300ms;
                            }
                        }
                    }
                }
            }

            .user-card-content {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-bottom: 10px;
                padding-top: 10px;
                width: 100%;

                .user-role {
                    font-size: 18px;
                    font-weight: bold;
                    color: #2ea78a;
                }
                .user-email {
                    font-style: italic;
                    color: #30b0db;
                }
                .user-joined {
                    color: #e65e31;
                }
            }
        }
    }

    .add-user-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 450px;
        padding-top: 30px;
        padding-bottom: 30px;
        left: calc(50% - 220px);
        top: 20%;
        border-radius: 10px;
        border: 1px solid lightseagreen;

        label {
            width: fit-content;
            font-weight: bold;
            font-size: 13px;
            color: rgba(0, 0, 0, 0.5);
        }

        .user_role-selector {
            display: flex;
            flex-direction: column;
            justify-content: left;
            width: 350px;
            margin: 10px 0px 10px 0px;
        }

        #user_role {
            margin-top: 20px;
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 10px;
            border-radius: 5px;
            border: 1px solid black;
        }
        .add-user-buttons {
            margin-top: 30px;
        }
        .invite-btn,
        .cancel-btn {
            width: 120px;
            height: 35px;
            margin: 0 10px 0 10px;
            cursor: pointer;
        }
    }
}
