.user-settings-wrapper {
  width: 100%;
}

.user-settings-wrapper .user-settings-form {
  width: 400px;
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}

.user-settings-wrapper .user-settings-form .form-group {
  width: 100%;
}

.user-settings-wrapper .user-settings-form .user-settings-form-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 30px;
}

.user-settings-wrapper .user-settings-form .user-settings-form-btns button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.user-settings-wrapper .user-settings-form .user-settings-form-btns button:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.user-settings-wrapper .user-settings-form .user-settings-form-btns .save-changes {
  background-color: #2ea78a;
  color: #fff;
}

.user-settings-wrapper .user-settings-form .user-settings-form-btns .save-changes:hover {
  background-color: #01614b;
}

.user-settings-wrapper .user-settings-form .user-settings-form-btns .cancel-changes {
  background-color: #fff;
  border: 1px solid #2ea78a;
  color: #2ea78a;
}

.user-settings-wrapper .user-settings-form .user-settings-form-btns .cancel-changes:hover {
  background-color: #2ea78b1e;
}

.user-settings-wrapper .user-settings-form .user-role-change-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30px;
  width: 1000px;
  right: calc(50% - 500px);
  background-color: #fff;
  border: 1px solid lightseagreen;
  border-radius: 10px;
  padding: 0px 0px 50px 0px;
  z-index: 4;
}

.user-settings-wrapper .user-settings-form .user-role-change-form .user-role-change-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 70px;
  background-color: lightseagreen;
}

.user-settings-wrapper .user-settings-form .user-role-change-form .user-role-change-header .user-role-change-header-text {
  color: #fff;
  font-weight: bold;
  margin-left: 30px;
}

.user-settings-wrapper .user-settings-form .user-role-change-form .user-role-change-header button {
  margin-right: 30px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  width: 100px;
  height: 30px;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-weight: bold;
  cursor: pointer;
}

.user-settings-wrapper .user-settings-form .user-role-change-form .user-role-change-header button:hover {
  background-color: #fff;
  color: lightseagreen;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.user-settings-wrapper .user-settings-form .user-role-change-form .user-role-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.user-settings-wrapper .user-settings-form .user-role-change-form .user-role-type button {
  width: 150px;
  height: 40px;
  background-color: transparent;
  margin-left: 30px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: lightseagreen;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 8px;
}

.user-settings-wrapper .user-settings-form .user-role-change-form .user-role-type button:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #fff;
  border: 1px solid lightseagreen;
  background-color: lightseagreen;
}

.user-settings-wrapper .user-settings-form .user-role-change-form .user-role-type .role-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-settings-wrapper .user-settings-form .user-role-change-form .user-role-type .role-icon img {
  width: 35px;
}

.user-settings-wrapper .user-settings-form .user-role-change-form .user-role-type .role-icon span {
  color: lightseagreen;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.user-settings-wrapper .user-settings-form .user-role-change-form .user-role-type .role-description {
  width: 600px;
  margin-right: 70px;
}

.user-settings-wrapper .user-settings-role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.user-settings-wrapper .user-settings-role label {
  margin-bottom: 10px;
}

.user-settings-wrapper .user-role-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.user-settings-wrapper .user-role-wrapper img {
  width: 25px;
}

.user-settings-wrapper .user-role-wrapper #user-role {
  font-style: italic;
  font-weight: bold;
  color: lightseagreen;
  margin-left: 25px;
}

.user-settings-wrapper .user-role-wrapper .user-role-change {
  margin-right: 0;
  margin-left: auto;
  border: none;
  background-color: #6ec1bf;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.user-settings-wrapper .user-role-wrapper .user-role-change:hover {
  background-color: #479796;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.user-settings-wrapper label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}

.grey-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: 3;
}

.manage-users-page {
  width: 100%;
  padding-top: 50px;
}

.manage-users-page .manage-users-main-btns {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.manage-users-page .manage-users-main-btns button {
  height: 35px;
  width: 120px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.manage-users-page .manage-users-main-btns button:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.manage-users-page .manage-users-main-btns .manage-users-new {
  background-color: rgba(32, 178, 171, 0.8);
  color: #fff;
  font-weight: bold;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.manage-users-page .manage-users-main-btns .manage-users-new:hover {
  background-color: lightseagreen;
}

.manage-users-page .manage-users-main-btns .manage-users-sorting-btns {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manage-users-page .manage-users-main-btns .manage-users-sorting-btns span {
  color: lightseagreen;
  font-weight: bold;
  font-size: 18px;
}

.manage-users-page .manage-users-main-btns .manage-users-sorting-btns button {
  border: 1px solid lightseagreen;
  background-color: #fff;
  color: lightseagreen;
  font-weight: bold;
}

.manage-users-page .manage-users-main-btns .manage-users-sorting-btns button:hover {
  background-color: lightseagreen;
  color: #fff;
}

.manage-users-page .manage-users-main-btns .manage-users-sorting-btns .manage-users-sorting--active {
  background-color: lightseagreen;
  color: #fff;
}

.manage-users-page .manage-users-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20%;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
}

.manage-users-page .manage-users-content .user-card-wrapper {
  border: 1px solid lightseagreen;
  border-radius: 10px;
  padding: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 50px;
}

.manage-users-page .manage-users-content .user-card-wrapper .user-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(32, 178, 171, 0.2);
}

.manage-users-page .manage-users-content .user-card-wrapper .user-card-header .user-card-name {
  color: #029e84;
  font-weight: bold;
  font-size: 18px;
}

.manage-users-page .manage-users-content .user-card-wrapper .user-card-header .user-card-settings {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}

.manage-users-page .manage-users-content .user-card-wrapper .user-card-header .user-card-settings img {
  width: 100%;
}

.manage-users-page .manage-users-content .user-card-wrapper .user-card-header .user-card-settings .user-card-settings-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 30px;
  right: 0;
  width: 200px;
  background-color: #fff;
  border: 1px solid #6ec1bf;
  border-radius: 5px;
}

.manage-users-page .manage-users-content .user-card-wrapper .user-card-header .user-card-settings .user-card-settings-drop .user-settings-drop-item {
  padding: 10px 0 10px 0;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.manage-users-page .manage-users-content .user-card-wrapper .user-card-header .user-card-settings .user-card-settings-drop .user-settings-drop-item:hover {
  background-color: lightseagreen;
  color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.manage-users-page .manage-users-content .user-card-wrapper .user-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

.manage-users-page .manage-users-content .user-card-wrapper .user-card-content .user-role {
  font-size: 18px;
  font-weight: bold;
  color: #2ea78a;
}

.manage-users-page .manage-users-content .user-card-wrapper .user-card-content .user-email {
  font-style: italic;
  color: #30b0db;
}

.manage-users-page .manage-users-content .user-card-wrapper .user-card-content .user-joined {
  color: #e65e31;
}

.manage-users-page .add-user-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 450px;
  padding-top: 30px;
  padding-bottom: 30px;
  left: calc(50% - 220px);
  top: 20%;
  border-radius: 10px;
  border: 1px solid lightseagreen;
}

.manage-users-page .add-user-modal label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.manage-users-page .add-user-modal .user_role-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 350px;
  margin: 10px 0px 10px 0px;
}

.manage-users-page .add-user-modal #user_role {
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.manage-users-page .add-user-modal .add-user-buttons {
  margin-top: 30px;
}

.manage-users-page .add-user-modal .invite-btn,
.manage-users-page .add-user-modal .cancel-btn {
  width: 120px;
  height: 35px;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */